<!DOCTYPE html>
<html lang="en">
  {% block head %}

  {% endblock %}
  {% load staticfiles %}
      <link rel="icon" href="{% static 'favicon.ico' %}">
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
      <link href="{% static 'jumbotron-narrow.css' %}" rel="stylesheet">
      <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
      <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">ScryLibrary</h3>
      </div>

      <div class="jumbotron">
        <h1>ScryLibrary</h1>
        <p class="lead">Recent Magic: The Gathering articles</p>
      </div>
      <div class="container">
        
          <table style="width:100%">
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Date</th>
              <th>Source</th>
              <th>Game</th>
              <th>Content Type</th>
            </tr>

            {% block articles %}

            {% endblock %}
          
          </table>


          
        
      </div>
      <footer class="footer">
        <p>&copy; ScryLibrary, 2017 </p>
      </footer>

    </div>


    
  </body>
</html>
