{% extends 'apptest/default.html' %}

{% block articles %}
  {% for article in object_list %}
    
    <tr>
            
      <td><a href= "{{ article.link }}" target="_blank"><b>{{ article.title }}</b></a></td>
      <td>{{ article.author }}</td>
      <td>{{ article.date|date:"m-d-Y" }}</td>
      <td><a href= "{{ article.source_url }}" target="_blank"><b>{{ article.source }}</b></a></td>
      <td>{{ article.game }}</td>
      <td>{{ article.content_type }}</td>
       
          
    </tr>
     
  {% endfor %}

  


{% endblock %}
          
